.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
  
  /* .container {
    border: 2px solid black;
    padding: 0.5rem;
  } */
  .cell {
    min-height: 100px;
    /* border: 2px solid green; */
    margin: 1 ;
  }
  .cell__big {
    /* border-color: red; */
    height: auto;
    display: flex;
    /* height: calc(100% - 2rem); */
  }