{% extends "base.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Predict Your Quality</h1>
            <div id="temp"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row no-gutters">
        <div class="col-3">
            <div class="cell">
                <label class="form-label" for="fixed_acidity">Fixed Acidity</label>
                <input class="form-control" type="number" name="fixed_acidity" id="fixed_acidity"
                value="8.57">
                <div class="form-text">Fixed Acidity. Typically ranges: 7.1 - 9.2</div>
            </div>
        </div>
        <div class="col-3">
            <div class="cell">
                <label class="form-label" for="volatile_acidity">Volatile Acidity</label>
                <input class="form-control" type="number" name="volatile_acidity" id="volatile_acidity"
                value="0.42">
                <div class="form-text">Volatile Acidity. Typically ranges: 0.39 - 0.64</div>
            </div>
        </div>
        <div class="col-6">
            <div class="cell text-center">
                <button type="button" class="btn btn-dark btn-primary btn-lg btn-block" id="predict_button">Predict My
                    Quality!</button>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-6">
            <div class="row no-gutters">
                <div class="col-6">
                    <div class="cell">
                        <label class="form-label" for="citric_acid">Citric Acid</label>
                        <input class="form-control" type="number" name="citric_acid" id="citric_acid"
                        value="0.39">
                        <div class="form-text">Citric Acid. Typically ranges: 0.09 - 0.42</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="cell">
                        <label class="form-label" for="residual_sugar">Residual Sugar</label>
                        <input class="form-control" type="number" name="residual_sugar" id="residual_sugar"
                        value="2.58">
                        <div class="form-text">Residual Sugar. Typically ranges: 1.9 - 2.6</div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-6">
                    <div class="cell">
                        <label class="form-label" for="chlorides">Chlorides</label>
                        <input class="form-control" type="number" name="chlorides" id="chlorides"
                        value="0.068">
                        <div class="form-text">Chlorides. Typically ranges: 0.07 - 0.09</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="cell">
                        <label class="form-label" for="free_sulfur_dioxide">Free Sulphur Dioxide</label>
                        <input class="form-control" type="number" name="free_sulfur_dioxide" id="free_sulfur_dioxide"
                        value="13.3">
                        <div class="form-text">Free Sulphur Dioxide. Typically ranges: 7 - 21</div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-6">
                    <div class="cell">
                        <label class="form-label" for="total_sulfur_dioxide">Total Sulphur Dioxide</label>
                        <input class="form-control" type="number" name="total_sulfur_dioxide" id="total_sulfur_dioxide"
                        value="33.4">
                        <div class="form-text">Total Sulphur Dioxide. Typically ranges: 22 - 62</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="cell">
                        <label class="form-label" for="density">Density</label>
                        <input class="form-control" type="number" name="density" id="density" value="0.9952">
                        <div class="form-text">Density. Typically ranges: 0.9956 - 0.9978</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="cell">
                        <label class="form-label" for="pH">pH</label>
                        <input class="form-control" type="number" name="pH" id="pH" value="3.27">
                        <div class="form-text">pH. Typically ranges: 3.21 - 3.4</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="cell">
                        <label class="form-label" for="sulphates">Sulphates</label>
                        <input class="form-control" type="number" name="sulphates" id="sulphates"
                        value="0.7678">
                        <div class="form-text">Sulphates. Typically ranges: 0.55 - 0.73</div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-6">
                    <div class="cell">
                        <label class="form-label" for="alcohol">Alcohol</label>
                        <input class="form-control" type="number" name="alcohol" id="alcohol" value="12.1">
                        <div class="form-text">Alcohol. Typically ranges: 9.5 - 11.1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="cell cell__big" id="predicted_quality">
                <H1>PREDICTION IS </H1>

            </div>
        </div>
    </div>
</div>

<div class="container">


    <div class="row">


    </div>
    <div class="row">


    </div>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/js/forecast.js"></script>

    {% endblock %}