{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class=" col-12">
            <h2 style="text-align:center; color: #5C112E; background-color: White;">The Truth about Wine and Alcohol
            </h2>
            <div id="temp"></div>
        </div>
    </div>

    <div class="row" style="height: 550px;">
        <div class=" col-md-6">
            <div id="Vis2">
                <H6 style="text-align:center; background-color: White;">Which countries drink alcohol the most and the
                    least?</H6>


                <div class='tableauPlaceholder' id='viz1646029022607' style='position: relative'><object
                        class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='AlcoholConsumptionByCountry_16457027959800&#47;Dashboard1' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='en-GB' />
                    </object></div>
                <script
                    type='text/javascript'>                    var divElement = document.getElementById('viz1646029022607'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '580px'; vizElement.style.height = '527px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

            </div>
        </div>

        <div class="col-md-6">
            <div id="Vis3" style=>
                <H6 style="text-align:center; background-color: White;">Which countries drink the most wine?</H6>


                <div class='tableauPlaceholder' id='viz1646029080727' style='position: relative'><object
                        class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='WineConsumptionByCountry&#47;Dashboard1' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='en-GB' />
                    </object></div>
                <script
                    type='text/javascript'>                    var divElement = document.getElementById('viz1646029080727'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '580px'; vizElement.style.height = '527px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p style="font-size:80%; line-height:80%; margin:5px;">* Alchohol consumption refers to # Litres of pure
                alcohol
                consumed per adult
                (15+) per Year</p>
            <a href="https://www.gapminder.org/category/data-blog/">
                <p style="text-align:right; font-size: 70%;padding-right: 30px;">Data Source</p>
            </a>



        </div>
        <div class="col-md-6">



            <p style="font-size:80%; line-height:80%; margin:5px;">* Wine Consumption refers to # Litres of wine
                consumed
                per adult lifetime</p>
            <a href="https://www.kaggle.com/marcospessotto/happiness-and-alcohol-consumption">
                <p style="text-align:right; font-size: 70%;padding-right: 30px;">Data Source</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p style="font-size:70%; line-height:80%; margin:5px;"> </p>

        </div>
    </div>
    <div class="row" style="height: 550px;">
        <div class="col-md-6">
            <H6 style="text-align:center; background-color: White;">Is there any correlation between Wine Consumption
                and Happiness?</H6>

            <div class='tableauPlaceholder' id='viz1646029194394' style='position: relative'><object class='tableauViz'
                    style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='HappinessVsWineConsumption&#47;Dashboard1' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='en-GB' />
                </object></div>
            <script
                type='text/javascript'>                    var divElement = document.getElementById('viz1646029194394'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '580px'; vizElement.style.height = '527px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
        </div>

        <div class="col-md-6">
            <div id="Vis4" style=>

                <H6 style="text-align:center; background-color: White;">Is there any correlation between Alcohol
                    Consumption and Suicide Rate?</H6>

                <div class='tableauPlaceholder' id='viz1646029229853' style='position: relative'><object
                        class='tableauViz' style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='site_root' value='' />
                        <param name='name' value='SuicideRateVsAlcoholConsumtion&#47;Dashboard1' />
                        <param name='tabs' value='no' />
                        <param name='toolbar' value='yes' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='en-GB' />
                    </object></div>
                <script
                    type='text/javascript'>                    var divElement = document.getElementById('viz1646029229853'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '580px'; vizElement.style.height = '527px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
            </div>

        </div>
    </div>
    <div class=" row">
        <div class="col-md-6">
            <p style="font-size:80%; line-height:80%; margin:5px;">* H-Score refers to A metric measured in
                2016 by
                asking
                the sampled people the question: "How would you rate your happiness on a scale of 0 to 10
                where 10 is
                the happiest"</p>
            <p style="font-size:80%; line-height:80%; margin:5px;">* Wine Consumption refers to # Litres of
                wine
                consumed
                per adult lifetime</p>
            <a href="https://www.kaggle.com/marcospessotto/happiness-and-alcohol-consumption">
                <p style="text-align:right; font-size: 70%;padding-right: 30px;">Data Source</p>
            </a>

        </div>
        <div class="col-md-6">
            <p style="font-size:80%; line-height:80%; margin:5px;">* Suicide Rate is # Mortalities due to
                self-inflicted
                injury per 100,000
                standard population</p>
            <p style="font-size:80%; line-height:80%; margin:5px;">* Alchohol consumption refers to # Litres
                of pure
                alcohol
                consumed per adult
                (15+)</p>
            <a href="https://www.gapminder.org/category/data-blog/">
                <p style="text-align:right; font-size: 70%;padding-right: 30px;">Data Source</p>
            </a>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6">
        <p style="font-size:70%; line-height:80%; margin:5px;"> </p>
        s
    </div>
</div>

<script src="../static/js/index.js"></script>

{% endblock %}